<div class="pups">
    <div class="menu">
        <code>> <u routerLink="/pups">Pups</u> / <u>create</u></code>
    </div>

    <form #f="ngForm">
        <div class="namePup label">
            <div class="row input-group input-group-sm mb-3">
                <label class="col-1">Name</label>
                <input [(ngModel)]="currentPup.name" name="name" type="text" class="form-control col-4" aria-label="Small" aria-describedby="inputGroup-sizing-sm" (change)="onChangeName(f)">
            </div>
        </div>

        <div class="row" *ngIf="stage >= 1">
            <label class="col-2">Creation mode</label>
            <select [(ngModel)]="createOption" name="option" class="col-3" (change)="onChangeMode(f)">
                <option [ngValue] = "1">With video</option>
                <option [ngValue] = "0">Without video</option>
            </select>
        </div>
    </form>

    <div class="with-video" *ngIf="createOption == '1'">
        <div class="center video" *ngIf="!hasVideo">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template class="words" ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    drop an .mp4 file here
                    <button type="button" (click)="openFileSelector()">Upload...</button>
                </ng-template>
            </ngx-file-drop>
        </div>
        <div class="center player row" *ngIf="hasVideo">
            <vg-player>
                <video #media [vgMedia]="$any(media)" id="singleVideo" preload="auto" controls crossorigin>
                    <source [src]="file_url" type="video/mp4">
                </video>
            </vg-player>
        </div>


        <div class="upload-video label">
            <label>Model</label>
            <input type="file" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="timecodes">
            <button type="button" class="btn btn-success">Set timecode</button>

        </div>
    </div>

    <div class="without-video" *ngIf="createOption == '0'">
        <div class="center object">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template class="words" ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <p>drop an AR model file here</p>
                    <button type="button" (click)="openFileSelector()">Upload...</button>
                </ng-template>
            </ngx-file-drop>
        </div>



        <button type="button" class="btn btn-success" (click)='onSubmit()'>Upload Pup</button>
    </div>


</div>