.namePup {
  display: flex;
}
.menu {
  margin-bottom: 40px;
}
.pups input {
  max-width: 300px;
  margin-left: 20px;
  border-radius: 7px;
}
.row select {
  border-radius: 7px;
  outline: none;
}
p:not(.creation) {
  cursor: pointer;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label {
  cursor: pointer;
  font-size: 17px;
}
.creation {
  cursor: pointer;

  font-size: 17px;
}
select {
  margin-left: 20px;
  margin-bottom: 20px;
}

.upload-video {
  text-align: center;
  margin: 0 auto;
  .input-group {
    justify-content: center;
    input {
      max-width: 70px;
    }
  }
}

.btn-success {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.timecodes {
  text-align: center;
}
.without-video {
  margin: 0 auto;
  text-align: center;
}

.video {
  margin: 0 auto;
  width: 800px;
}
.object {
  margin: 0 auto;
  width: 800px;
}
.uploaded {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 3px solid#4abe79;
  box-shadow: 1px 1px #2d754a;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
  width: 300px;
  margin-top: -50px;
  transform: translate(-50%, -50%);
}
.btn {
  margin: 15px;
}

p {
  cursor: pointer;
}