<div class="pups">
    <div class="menu">
        <code>/ Pups /</code>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="src">
        </div>
    </div>

    <main>
        <div class="many-pups">
            <!--*ngFor = "let pup of pups"-->
            <div class="pup shadow rounded">
                <img src="https://giffiles.alphacoders.com/195/195303.gif">
                <p>pupname</p>
            </div>

            <div class="pup shadow rounded">
                <img src="https://giffiles.alphacoders.com/195/195303.gif">
                <p>lupname</p>
            </div>

            <div class="pup shadow rounded">
                <img src="https://giffiles.alphacoders.com/195/195303.gif">
                <p>kupname</p>
            </div>

            <div class="pup shadow rounded">
                <img src="https://giffiles.alphacoders.com/195/195303.gif">
                <p>zupname</p>
            </div>

        </div>

        <div>
            <button type="button" class="btn btn-light shadow">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#5cb85c" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg></button>
        </div>
    </main>



</div>