<div class="admin">
    <main>
        <header>
            <div class="wrapper">
                <nav>
                    <p class="logo" routerLink="/">Edu<b>AR</b>d</p>
                </nav>
            </div>
        </header>


        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <div class="wrapper">
            <p>Developed by <a href="https://t.me/devcurlchannel" target="_blank">@devcurl</a> AKA SoftWeird Team</p>
        </div>
    </footer>
</div>