<div class="admin">
    <main>
        <header>
            <div class="wrapper">
                <nav>
                    <p class="logo" routerLink="/">Edu<b>AR</b>d</p>
                    <p class="logo logio" routerLink="/" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg"
                            width="30" height="30" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path
                                d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                        </svg></p>
                </nav>
            </div>
        </header>


        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <div class="wrapper">
            <p>Developed by <a href="https://t.me/devcurlchannel" target="_blank">@devcurl</a> AKA SoftWeird Team</p>
        </div>
    </footer>
</div>